#
# Do not track any of the twitch credentials
#
twitch:
    # from twitch
    TMI_TOKEN: oauth:xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

    # from twitch
    CLIENT_ID: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

    # how you want the bot name to appear in the channel - can change capitalization, but the name must be the same as the bot account
    BOT_NICK: examplebotname

    # The prefix that you want to use to denote a chatbot command.
    BOT_PREFIX: '!'

    #The prefix that you want to use to denote a chatbot command.
    CHANNEL:
        - examplechannelname #This can be a list with multiple channels to connect to.  For most of our code we only look at Channel[0] because the bot has to run on the same box as the hardware


# These are used to add context to actions
audio:
    background: 
      - 'audio/bensoundScifi.wav'
      - 'audio/SpaceAmbience.wav'
      - 'audio/Futuristic1.wav'
      - 'audio/EonAmbient.wav'
      - 'audio/SirusBeatOne.wav'
    arm:
      - 'audio/Large Industrial Robot-SoundBible.com-1509415522.wav'
      - 'audio/Large Servo Motor-SoundBible.com-1783037652.wav'
      - 'audio/Robot Arm Moving-SoundBible.com-503911197.wav'
      - 'audio/Small Electrical Motor-SoundBible.com-864411914.wav'
    led:
      - 'audio/Power_Up_Ray-Mike_Koenig-800933783.wav'
      - 'audio/Switch-SoundBible.com-350629905.wav'
    userLogin:
      - 'audio/hack-password.wav'
      - 'audio/typing.wav'
      - 'audio/houston.wav'
      - 'audio/expecting.wav'
    rootLogin:
      - 'audio/hack-password.wav'
      - 'audio/typing.wav'
      - 'audio/houston.wav'
      - 'audio/expecting.wav'
    ant:
      - 'audio/Radio-Tune.wav'
      - 'audio/Tune-Radio.wav'
      - 'audio/morseCode.wav'
      - 'audio/strangeNoise.wav'
      - 'audio/Sputnik1.wav'
    temp:
      - 'audio/uh-oh.wav'
      - 'audio/redAlert.wav'
      - 'audio/badfeeling.wav'
      - 'audio/situation.wav'
    orbitMode:
      - 'audio/do-it.wav'
      - 'audio/problem.wav'
      - 'audio/badfeeling.wav'
    launch:
      - 'audio/fire.wav'
      - 'audio/fizzle.wav'
      - 'audio/dying.wav'
      - 'audio/luke_junk.wav'
    error:
      - 'audio/beep.wav'
    win:
      - 'audio/trumpet.wav'
    
    

# Serial connection pieces specific to the hardware it's running on.
hardware:
    serial: /dev/ttyS0
    baud: 9600

# These credentials are part of the gameplay and are fine to be tracked
game:
    username: admin
    password: 5p4c3d07c0m
